<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title><%= title %> - Ángel Chame</title>
</head>
<body>
  <h1><%= title %></h1>
  <p>Hola, soy <strong><%= fullName %></strong>.</p>
  <p>JSON: <code>/chame</code></p>
</body>
</html>
